*.npz
*egg-info
build/

# Cached data
*cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints
notebooks/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv

# Code editors
.idea/
.vscode/
*.code-workspace
.sourcery.yaml
